/*
 * Remove template code below
 */
:host {
   display: flex;
   flex-grow: 1;
   mat-card.main-card {
      margin-top: 60px;
      padding: 0;
      background: url("../assets/background_1.jpg");
      background-size: cover;
      mat-card-header {
         background-size: cover;
         background-repeat: repeat;
      }
   }
}
