:host {
    .landing-card {
        max-width: 400px;
    }
    .landing-card:hover {
        animation: zoomonhover 200ms ease-in;
        box-shadow: 8px 5px 10px lightgray;
        transform: scale(1.02, 1.02);
    }
    img {
        height: 370px;
        object-fit: cover;
    }
    .menu-container {
        padding: 1rem 0.5rem;
    }
}
