<mat-card-header class="pt-3">
    <job-finder-title></job-finder-title>
</mat-card-header>
<mat-card-content class="m-1">
    <section fxLayout="column" fxLayoutAlign="center" fxLayoutGap="2rem" fxFlex="grow">
        <section class="menu-container mt-1" fxLayout fxLayoutAlign="center center" fxLayoutGap="1rem"
            fxLayout.lt-lg="column">
            <mat-card class="landing-card cursor-pointer">
                <img mat-card-image src="assets/people_world.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="landing-card cursor-pointer">
                <img mat-card-image src="assets/test.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>


            <mat-card class="landing-card cursor-pointer">
                <img mat-card-image src="assets/pointer.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </section>
    </section>
</mat-card-content>