<form [formGroup]="clusterForm" class="mt-1">
    <section fxLayout="row wrap" fxLayoutGap="0.5rem" fxLayoutAlign="center center">
        <h3>You should choose up to two Vocations Categories. The categories are based on our own Machine
            Learning models.</h3>
        <job-finder-cluster-box *ngFor="let clusterName of clusterNames" [name]="clusterName"></job-finder-cluster-box>
    </section>
    <div fxLayout fxLayoutGap="1rem" class="mt-1">
        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
</form>