<mat-card>
    <mat-card-header>
        <mat-card-title>
            About Us
        </mat-card-title>
    </mat-card-header>
    <section fxLayout fxLayoutAlign="center" class="mb-2">
        <job-finder-our-team></job-finder-our-team>
    </section>
    <mat-card-content>
        <p>
            E-vocation Wizard is a cooperative idea. As a group of friends, many of us were constantly struggling to
            find our place in the job market. We thought it would be awesome if there was an online tool that could
            support anyone facing similar issues.
        </p>
        <p class="text-center">
            <i>
                And Thus the Wizard Was Born
            </i>
        </p>
        <p>
            After Spiros came across the EU Datathon competition, he managed to convince George about participating.
            After some brainstorming we realised the idea was already in front of us. Based on ESCO’s occupations and
            skills groupings, combined with CEDEFOP’s forecasts, we created a Job Recommendation Application that
            suggests potential career paths for everyone, upon fulfilling a simple form. Spiros and Giannis created
            various machine learning models for grouping and then recommending occupations, while utilizing dynamic
            inputs from our users.
        </p>
        <p class="text-center">
            <i>
                The Wizard is just doing its first steps in the world, just as we do as well.
            </i>
        </p>
        <p>
            E-Vocation Wizard is just the start of what’s about to come. We plan on implementing our own Search Engine
            for Job Openings, utilizing data from as many professional communities we can get. In addition, we intend to
            provide dynamic and easy to use graphic visualizations for the DECEFOP forecasts that will change as they
            provide more data.
        </p>
        <p>
            We deeply understand that seeking a job in your country and abroad is a stressful situation and we want to
            help with that. For many of us the job market still is a complete chaos.
            <br>
            Many of us have pulled through, we hope that many more do as well.
        </p>

        <p>
            <i>
                Our humble Wizard Team
            </i>

        </p>

    </mat-card-content>
</mat-card>