:host {
    mat-card {
        flex-grow:1;
        width: 60%;
        margin: 2rem auto;
        background-color: rgba(229, 229, 229, 0.7);
        ::ng-deep .mat-card-header-text {
            width: 100%;
            text-align: center;
        }
        mat-card-header {
            padding-top: 1rem;
            margin-bottom: 3rem;
        }
        .about-image {
            width: 100%;
            max-width: 600px;
            background-image: url("../../assets/wizards.jpg");
            background-size: cover;
        }
    }
}
