<mat-card>
    <mat-card-header>
        <mat-card-title>
            About Us
        </mat-card-title>
    </mat-card-header>
    <section fxLayout fxLayoutAlign="center">
        <img mat-card-image src="../../assets/wizards.jpg" class="about-image" alt="Wizards">
    </section>
    <mat-card-content>
        <p>
            E-vocation Wizard is a cooperative idea. As a group of friends, many of us were constantly struggling to
            find our place in the job market. By extension, we thought it would be awesome if there was an online tool
            that could help everyone facing this and similar issues in some kind of way.
        </p>
        <p class="text-center">
            <i>
                And Thus the Wizard Was Born
            </i>
        </p>
        <p>
            After Spiros came across the EU Datathon competition, he managed to convince George about participating and
            after some brainstorming we realised he idea was already in front of us. Based on ESCO’s occupations and
            skills groupings and CEDEFOP’s forecasts, we created a Recommender App that suggests potential career paths
            for everyone, based on what they like! Spiros and Giannis created various machine learning models for
            grouping and then recommending occupations, while utilizing dynamic inputs from any user of our platform.
            The Wizard is just doing its first steps in the world, just as we do as well.
        </p>

        <p>
            E-Vocation Wizard is just the start of what’s about to come. We plan on implementing our own Search Engine
            for Job Openings, utilizing data from as many (valid) websites we can get. In addition, we intend to provide
            dynamic and easy to use graphic visualizations for the DECEFOP forecasts that will dynamically change as
            CEDEFOP provides more data.
        </p>
        <p>
            We deeply understand that seeking a job in your country and abroad is a stressful situation and we want to
            help with that. There are people that lose their jobs in the blink of an eye, or people that struggle with
            rejection or people that are just starting their career and feel that they have to figure their way out,
            swimming through a complete chaos that is the job market.
            <br>
            Many of us have pulled through, we hope that many more do as well.
        </p>

        <p>
            <i>
                Our humble Wizard Team
            </i>

        </p>

    </mat-card-content>
</mat-card>