.example-card {
    max-width: 400px;
}
.example-card:hover {
    animation: onHover 200ms ease-in;
    box-shadow: 8px 5px 10px lightgray;
}
img {
    height: 370px;
    object-fit: cover;
}
// mat-card img {
//     object-fit: cover;
//     border-radius: 50%;
// }
.menu-container {
    padding: 1rem 0.5rem;
}
@keyframes onHover {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 10px 6px 10px lightgray;
    }
}
