<mat-list fxLayout fxLayoutGap="2rem" class="main-menu" fxLayout="start center">
    <mat-list-item class="menu-item" routerLinkActive="active" [routerLink]="['/home']">
        <span>
            Home
        </span>
    </mat-list-item>
    <mat-list-item class="menu-item" routerLinkActive="active" [routerLink]="['/about']">
        <span>
            About Us
        </span>
    </mat-list-item>
    <mat-list-item class="menu-item-logo">
        <img src="assets/egg_white_transparent.png" class="logo">
    </mat-list-item>
</mat-list>