<section fxLayout>
    <section fxLayout="column" fxLayoutGap="1.5rem">
        <mat-toolbar class="background-color-none">
            <section class="headline text-center" fxLayout fxLayout.lt-md="column" fxLayoutGap="1rem"
                fxLayoutAlign="center center" fxFlex="grow">
                <span>E-VOCATION</span>
                <span>
                    WIZ<img src="../../../assets/hat_orange.png" class="orange-logo" alt="" srcset="">RD
                </span>
            </section>
        </mat-toolbar>
        <mat-toolbar class="rounded-mid background-color-lightgray" fxLayout fxLayoutAlign="center center">
            <span class="tagline text-center">A tool that help you discover new jobs and potential market opening
                for your
                company</span>
        </mat-toolbar>
    </section>
</section>