<section fxLayout>
    <img src="assets/egg_transparent.png" class="logo">
    <section fxLayout="column" fxLayoutGap="1rem">
        <mat-toolbar fxLayout class="background-color-none">
            <span class="headline text-center" fxFlex="grow">WELCOME TO TAKIS O MPOURMPOULAS</span>
        </mat-toolbar>
        <mat-toolbar class="rounded background-color-lightgray" fxLayout fxLayoutAlign="center center">
            <span class="tagline text-center">A tool that help you discover new jobs and potential market opening
                for your
                company</span>
        </mat-toolbar>
    </section>
</section>