.cursor-pointer {
    cursor: pointer;
}
.background-color-none {
    background: none !important;
}
.rounded-low {
    border-radius: 8px;
}
.rounded-mid {
    border-radius: 100px;
}
.rounded-max {
    border-radius: 50%;
}
.background-color-lightgray {
    background-color: rgba(211, 211, 211, 0.4) !important;
}
.main-menu {
    box-shadow: 1px 0 10px;
    background-color: #38829e;
    padding-bottom: 5px;
    mat-list-item {
        width: auto !important;
    }
}
.menu-item {
    width: auto;
    cursor: pointer;
    font-weight: 450;
    border: none;
    opacity: 0.75;
    box-sizing: border-box;
    &:hover {
        border-bottom: 1px solid white;
        opacity: 1;
    }
    &:focus {
        border-bottom: 1px solid white;
        opacity: 1;
    }
    span {
        color: white;
        white-space: nowrap;
    }
}
// .menu-item-logo {
//     margin-left: auto;
// }
.logo {
    object-fit: cover;
    height: 40px;
}
.active {
    border-bottom: 1px solid white;
    opacity: 1;
}
mat-list-item:focus {
    outline: 0;
}
.mat-stepper-horizontal,
.mat-stepper-vertical {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
.forms-container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.cluster-box {
    width: 100px;
    height:  100px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: normal;
    word-wrap: normal;
    text-align: center;
    padding: 1rem 1.5rem;
    // border: 2px solid gray;
    border-radius: 50%;
    // background-color: #BF360C;
    background-color: rgba(211, 211, 211, 0.4);
    // color: black;
    opacity: 0.4;
    cursor: pointer;
    &:hover {
        background-color: #38829e;
        animation: opacityonhover 200ms ease-in;
        opacity: 1;
        color: white;
    }
}
.cluster-box.clicked {
    color: white;

    background-color: #38829e;
    opacity: 1;
}
