.headline {
    text-align: center;
    font-size: 42px;
    font-family: "Roboto Slab", serif;
}
mat-toolbar .headline {
    background-color: none;

}
.tagline {
    padding: 1rem 3rem;
}
.rounded {
    border-radius: 8px;
}
.background-color-darkgray {
    background-color: lightgrey !important;
}