.headline {
    text-align: center;
    font-size: 42px;
    font-family: "Glegoo", serif;
    letter-spacing: 2px;
    font-weight: bolder;
}
mat-toolbar .headline {
    background-color: none;
}
.tagline {
    padding: 1rem 3rem;
}
