<form [formGroup]="ratingsForm" fxLayout="column" fxLayoutGap="1rem">
    <section fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1rem">
        <job-finder-rating-box *ngFor="let description of formsService.descriptions; let i =index"
            [control]="ratingsForm.at(i)" [description]="description">
        </job-finder-rating-box>
    </section>
    <div fxLayout fxLayoutGap="1rem">
        <button mat-raised-button matStepperPrevious color="accent">Back</button>
        <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
    </div>
</form>