<form [formGroup]="ratingsForm" fxLayout="column" fxLayoutGap="1rem">
    <section fxLayout.lt-sm="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="center space-between">
        <job-finder-rating-box class="mb-1 mr-1" fxFlex="45%"
            *ngFor="let occupation of formsService.occupations; let i =index" [control]="ratingsForm.at(i)"
            [description]="occupation.description" [title]="occupation.title">
        </job-finder-rating-box>
    </section>
    <div fxLayout fxLayoutGap="1rem">
        <button mat-raised-button matStepperPrevious color="accent">Back</button>
        <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
    </div>
</form>