<form [formGroup]="ratingsForm" fxLayout="column" fxLayoutGap="1rem">
    <section fxLayout.lt-sm="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="center center">
        <job-finder-rating-box class="mb-1 mr-1" fxFlex="45%" *ngFor="let description of formsService.descriptions; let i =index"
            [control]="ratingsForm.at(i)" [description]="description">
        </job-finder-rating-box>
    </section>
    <div fxLayout fxLayoutGap="1rem">
        <button mat-raised-button matStepperPrevious color="accent">Back</button>
        <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
    </div>
</form>