<section class="m-2">
    <h2 class="text-center">
        Welcome to the E-Vocation Wizard!
    </h2>
    <section class="mt-1">
        <p>
            E-Vocation wizard is a tool that aims to help you find a new/alternate career path. You will be asked to
            choose
            <b>up to two</b> occupation/vocation categories. As a follow-up, you will be asked to rate some occupations
            from
            the categories you chose.
        </p>
        <p><i>
                First of all, you have the option to fill some minimal information about yourself. This will help our
                algorithms improve in the long run!
            </i> </p>
        <p>Finally, you will be redirected to a screen that displays your custom results, based on our Machine Learning
            models.</p>
    </section>
</section>